<form action="/user/register" method="post">
    <label for="username">Username: </label>
    <input type="text" name="username">
    <br>
    <label for="password">Password: </label>
    <input type="password" name="password">
    <br>
    <label for="confirmPassword">Confirm password: </label>
    <input type="password" name="confirmPassword">
    <br>
    <label for="firstName">First name: </label>
    <input type="text" name="firstName">
    <br>
    <label for="lastName">Last name: </label>
    <input type="text" name="lastName">
    <br>
    <input type="submit" value="Register">
</form>