{{#chat}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
        var socket = io()
    </script>
    <h1>{{this.title}}</h1>
    <h2>For invitation: http://localhost:1337/chatroom/chat/{{this._id}}</h2>
    <div id = "chatroom">
        <div id="participants">
            <h3>Participants</h3>
                {{#each participants}}
                    <span>{{this}}</span>
                {{/each}}
        </div>
        <ul id = "chat">
            <li id="chat-head">Chat:</li>
        </ul>
        <div id="chat-form">
            <input type="text" id="message" placeholder="Your message goes here...">
            <button id = "send">Send message</button>
        </div>
    </div>
    <script>
        $('#send').on('click',()=>{
            $.post('/chatroom/chat/{{this._id}}',{
                message:$('#message').val()
            })
        })
        socket.on('sent-message',(call)=>{
            $('#chat').append(`<li>${call.user.username}: ${call.message}</li>`)
        })
    </script>
{{/chat}}